{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'css/global.css' %}">
        <link rel="stylesheet" href="{% static 'css/openai_services/index.css' %}">
    </head>
    <body>
        <nav>
            <h1 id="title"><img src="{% static '/img/custom_compass.svg' %}" width="36px" height="36px"> Christian Madajski</h1>
            <div id="nav-links">
                    <a href="http://194.195.210.137/">Home</a>
                    <a href="/html/projects.html">Projects</a>
                    <a class="active" href="/openai/">OpenAI</a>
                    <a href="https://github.com/cmadajski" target="_blank">GitHub</a>
                    <a href="https://www.linkedin.com/in/cmadajsk" target="_blank">LinkedIn</a>
            </div>
        </nav>
        <div id="nav-fadeout"></div>
        <h1 id="services-title">OpenAI Services</h1>
        <div id="services-container">
            <div class="service">
                <a class="service-link" href="/openai/completion/">Talk with GPT-3</a>
                <p>Development Progress (50%)</p>
                <div class="progress-bar-outer">
                    <div class="progress-bar-inner completion" style="width:50%;"></div>
                </div>
            </div>
            <div class="service">
                <a class="service-link" href="/">Get Transcripts for Audio Files</a>
                <p>Development Progress (5%)</p>
                <div class="progress-bar-outer">
                    <div class="progress-bar-inner transcript" style="width:5%;"></div>
                </div>
            </div>
            <div class="service">
                <a class="service-link" href="/">Generate AI Images</a>
                <p>Development Progress (5%)</p>
                <div class="progress-bar-outer">
                    <div class="progress-bar-inner art" style="width:5%;"></div>
                </div>
            </div>
        </div>
    </body>
</html>