{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'css/global.css' %}">
        <link rel="stylesheet" href="{% static 'css/openai_services/completion.css' %}">
    </head>
    <body>
		<nav>
			<h1 id="title"><img src="{% static '/img/custom_compass.svg' %}" width="36px" height="36px"> Christian Madajski</h1>
			<div id="nav-links">
					<a href="http://194.195.210.137/">Home</a>
					<a href="/html/projects.html">Projects</a>
					<a class="active" href="/openai/">OpenAI</a>
					<a href="https://github.com/cmadajski" target="_blank">GitHub</a>
					<a href="https://www.linkedin.com/in/cmadajsk" target="_blank">LinkedIn</a>
			</div>
		</nav>
		<div id="nav-fadeout"></div>
		<div class="completion-container">
			<div class="completion-input">
				<h1>Talk to GPT-3</h1>
				<p><a href="/openai/">&larr; Back to Services</a></p>
				<form id="completion-form" action="/openai/completion/" method="post">
					{% csrf_token %}
					<label for="engine-option" title="{{ engine_help }}">Choose an engine: </label>
					<select id="engine-option" name="engine-option">
						{% for option in engine_options %}
						{% if option == 'text-davinci-003' %}
						<option value="{{ option }}" title="{{ option }}" selected>{{ option }}</option>
						{% else %}
						<option value="{{ option }}" title="{{ option }}">{{ option }}</option>
						{% endif %}
						{% endfor %}
					</select><br>
					<label for="num-generations">How many generations? </label>
					<select id="num-generations" name="num-generations">
						{% for option in num_generations %}
						<option value="{{ option }}" title="{{ option }}">{{ option }}</option>
						{% endfor %}
					</select><br>
					<textarea id="query" name="query"></textarea><br>
					<input type="submit" value="Submit">
				</form>
			</div>
			{% if request.method == 'POST' %}
			<div class="completion-output">
				<p><b>You asked:</b> <i>{{ query }}</i></p>
				<ul>
				{% for choice in output %}
				<li><i>{{ choice.text }}</i></li>
				{% endfor %}
			</ul>
			</div>
			{% endif %}
		</div>
	</body>
</html>
